<% include partials/header %>
<% include partials/nav %>

<h1>Landing page!</h1>

<p>Welcome YelpCamp page</p>

<a href="/campgrounds">Camp grounds</a>
<a href="/campgrounds/new">add new campground</a>

<% include partials/footer %>